* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
li {
  list-style: none;
}

.top_screen {
  min-width: 776px;
  background-image: url(../images/img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 50px;
}
.menu_link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.menu_link:hover {
  padding: 5px;
  border-bottom: 1px solid;
}

.hero {
  color: #fff;
  padding-top: 136px;
}
.hero_content {
  max-width: 542px;
}
.hero_tittle {
  font-size: 38px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 39px;
}

.hero_text {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 29px;
}
.hero_cta {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  font-family: sans-serif;
  transition: 0.5s;
}
.hero_cta:hover {
  background: #b5b5b5;
  color: #020202;
}
.locations_tittle {
  color: #fff;
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.locations_list li {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  padding-bottom: 40px;
  border-top: 1px solid #fff;
  padding-top: 17px;
}
.locations_list {
  display: flex;
  justify-content: space-between;
}
.about_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  width: 536px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 60px;
}

.about_list {
  display: flex;
  justify-content: space-around;
}
.about_number {
  text-align: center;
  border: 1px solid #014c48;
  background: #014c48;
  border-radius: 50%;
  color: #fff;
  width: 65%;
  padding: 20%;
}
.about_text {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 110px;
}
.approach {
  font-family: "Public Sans", serif;
  background: #f7f8f8;
  padding: 80px 0;
}
.approach_container {
  display: flex;
  justify-content: space-between;
}

.approach_cta {
  display: inline-block;
  padding: 12px 20px;
  color: #00413e;
  text-decoration: none;
  border: 1px solid rgba(95, 95, 95, 0.3);
  border-radius: 80px;
  font-family: sans-serif;
  transition: 0.5s;
}
.approach_cta:hover {
  background: #727070;
  color: #fff;
}
.approach_tittle {
  font-family: "Public Sans", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.approach_subtite {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #355362cc;
  width: 450px;
  margin: 15px 0 55px;
}

.approach_right {
  display: flex;
  gap: 10px;
}
.approach_imges {
  width: 235px;
}
.approach_imges2 {
  width: 317px;
}

.locations2 {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.logo {
  margin-bottom: 20px;
  display: flex;
}
.logo-img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.logo-h1 {
  font-size: 2em;
  margin: 10px 0;
}
.locations2-text {
  color: rgba(53, 83, 98, 0.8);
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 16px 61px 0 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-top: 1px solid rgba(53, 83, 98, 0.8);
}
