* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
li {
  list-style: none;
}

.top_screen {
  min-width: 776px;
  background-image: url(../images/img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 50px;
}
.menu_link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.menu_link:hover {
  padding: 5px;
  border-bottom: 1px solid;
}

.hero {
  color: #fff;
  padding-top: 136px;
}
.hero_content {
  max-width: 542px;
}
.hero_tittle {
  font-size: 38px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 39px;
}

.hero_text {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 29px;
}
.hero_cta {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  font-family: sans-serif;
  transition: 0.5s;
}
.hero_cta:hover {
  background: #b5b5b5;
  color: #020202;
}
.locations_tittle {
  color: #fff;
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.locations_list li {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  padding-bottom: 40px;
  border-top: 1px solid #fff;
  padding-top: 17px;
}
.locations_list {
  display: flex;
  justify-content: space-between;
}
.about_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  width: 536px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 60px;
}

.about_list {
  display: flex;
  justify-content: space-around;
}
.about_number {
  text-align: center;
  border: 1px solid #014c48;
  background: #014c48;
  border-radius: 50%;
  color: #fff;
  width: 65%;
  padding: 20%;
}
.about_text {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 110px;
}
.approach {
  font-family: "Public Sans", serif;
  background: #f7f8f8;
  padding: 80px 0;
}
.approach_container {
  display: flex;
  justify-content: space-between;
}

.approach_cta {
  display: inline-block;
  padding: 12px 20px;
  color: #00413e;
  text-decoration: none;
  border: 1px solid rgba(95, 95, 95, 0.3);
  border-radius: 80px;
  font-family: sans-serif;
  transition: 0.5s;
}
.approach_cta:hover {
  background: #727070;
  color: #fff;
}
.approach_tittle {
  font-family: "Public Sans", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.approach_subtite {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #355362cc;
  width: 450px;
  margin: 15px 0 55px;
}

.approach_right {
  display: flex;
  gap: 10px;
}
.approach_imges {
  width: 235px;
}
.approach_imges2 {
  width: 317px;
}

.locations2 {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.logo {
  margin-bottom: 20px;
  display: flex;
}
.logo-img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.logo-h1 {
  font-size: 2em;
  margin: 10px 0;
}
.locations2-text {
  color: rgba(53, 83, 98, 0.8);
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 16px 61px 0 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-top: 1px solid rgba(53, 83, 98, 0.8);
}
.info_container {
  background-image: url(../images/ggg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15px;
  max-width: 1264px;
  height: 680px;
}

.info_tittle {
  font-family: "Public Sans", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.info_subtite {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 542px;
}
.info_all_text {
  color: #fff;
  margin: 25%;
}
.company {
  margin: 16px;
}
.container_company {
  display: flex;
  gap: 13px;
  justify-content: space-around;
}
.company_tittle {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;
  align-self: center;
  color: #35536299;
}
.company_img {
  width: 150px;
  height: 60px;
}
.company {
  margin: 16px;
}
.container_company {
  display: flex;
  gap: 13px;
  justify-content: space-around;
}
.company_tittle {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;
  align-self: center;
  color: #35536299;
}
.company_img {
  width: 150px;
  height: 60px;
}

.infografic {
  padding: 60px;
  background: #f4f5f5;
}
.infografic_img {
  width: 100%;
}
.infografic_all {
  display: flex;
  gap: 10%;
}
.infografic_tittle {
  font-family: "Libre Baskerville", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  width: 424px;
}
.infografic_all_list {
  display: flex;
  gap: 30px;
}
.infografic_all_list_2_tit {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.infografic_all_list_2_txt {
  font-family: "Public Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 248px;
  color: #355362cc;
}
.article-container {
  width: 90px;
  max-width: 1269px;
  align-items: center;
}
.article-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.articles-img {
  width: 24px;
  height: 24px;
}
.articles-h1 {
  font-family: "Public Sans", serif;
  display: flex;
  gap: 10px;
  color: rgba(53, 83, 98, 0.6);
}
